.home {
  /* background-color: #465362; */
  /* height: 85vh; */
  position: fixed;
  height: auto;
  width: 100%;
  color: white;
  min-height: 100%;
}
/* .home img {
  height: 100px;
} */

.home .loc-temp {
  padding-top: 3%;
  text-align: center;
}

.home .extra-det {
  text-align: center;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-column-gap: 1em;
  background-color: rgba(245, 243, 243, 0.3);
  padding: 1vh;
  width: 80%;
  border-radius: 10px;
  margin: 10%;
}

.home .extra-det h2 {
  margin: 2%;
  font-weight: bold;
  color: black;
}
